@import '../../styles/typography.scss';
@import '../../styles/colors.scss';

.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	
	&__message {
		@include default-h1;
	}
}