@import '../../styles/index.scss';

.contacts {
	height: 100%;

	&__list {
		height: 100%;
		list-style: none;
		display: flex;
		justify-content: center;
		gap: 30px;
		margin: 0;
		padding: 0;

		@media (max-width: 600px) {
			flex-direction: column;
			gap: 0;
		}
	}

	&__list li a {
		display: inline-block;
		height: 100%;
		line-height: 50px;
		text-decoration: none;
		text-transform: uppercase;
		color: $color-white;
		position: relative;

		@media (max-width: 600px) {
			line-height: 25px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 10px;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: transparent;
			@include transition(background-color)
		}

		&:hover::after {
			background-color: $color-blue;
		}
	}
}