@import '../../styles/typography.scss';
@import '../../styles/colors.scss';

.card {
	&__label {
		@include default-h2;
		color: $color-dark-2;
		margin: 0 0 10px 0;
		border-bottom: 2px solid $color-dark-3;
	}

	&__list {
		list-style: none;
		max-width: 600px;
		padding: 0;
		margin: 0;
	}

	&__list li {
		display: flex;
		padding: 0;
		margin: 0;
		justify-content: space-between;
		border-bottom: 1px solid $color-dark-3;
		gap: 10px;
	}

	&__list li p {
		margin: 0;
		padding-block: 10px;
		@include default-h4;
		color: $color-dark-2;
	}

	&__list li p:first-child{
		font-weight: 600;
	}
}