@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

.userPage {
	@media (max-width: 600px) {
		padding-inline: 5px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		@include default-h1;
	}
}
